.Product_main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-inline: 10rem !important;
  padding-inline: 30px;
}

.Product_card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  width: 18rem;
  height: 28rem;
  padding: 10px;
  transition: 0.2s all ease-in-out;
}

.card-body {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.Product_card > img {
  height: 13rem;
  width: 10rem;
  object-fit: contain;
  margin-bottom: 15px;
}

.Product_card:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.Product_card button:hover > img {
  height: 14rem;
  width: 13rem;
}
