.signup-main {
  height: 90vh;
  margin-bottom: 50px;
}

@media screen and (max-width: 1200px) {
  .Signup-main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }


  .signup-main img {
    display: none;
  }
}
