body {
  position: relative !important; 
}
.affix {
  top:0;
  width: 100%;
  z-index: 9999 !important;
}
.navbar {
  margin-bottom: 0px;
}

.affix ~ .container-fluid {
 position: relative !important;
 top: 50px !important;
}